# Files to git ignore

# MySql Workbench temporary file
*.bak

# Vim temporary file
*.swp

# Certificate files
*.pem

# Ignore public directory
/public/pic/*

# But not ignore the default pic
!/public/pic/default.png