# Files to git ignore

# MySql Workbench temporary file
*.bak

# Vim temporary file
*.swp

# Certificate files
*.key
*.csr
*.pem

# Ignore public pic's directory
/public/pic/*

# But not ignore the default pic
!/public/pic/default.png

# Ignore public img's directory
/public/img/*

# But not ignore the default imgs
!/public/img/default-small.png
!/public/img/default-medium.png
!/public/img/default-large.png


