# Files to git ignore

# MySql Workbench temporary file
*.bak

# Vim temporary file
*.swp

# Certificate files
*.key
*.csr
*.pem

# Ignore public pic's directory
/public/img/pic/*

# But not ignore the default pic
!/public/img/pic/default.png
