<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
  <head>
  	<meta charset="utf-8"/>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  	<title>Tur.ma</title>
  	<meta name="description" content="O que a turma ta dizendo porai?!">
  	<meta name="keywords" content="Tur.ma, conteudo, comentario, social">
  	<meta name="viewport" content="width=device-width,initial-scale=1">

 	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">

  	<link rel="stylesheet" href="css/app.css">

  </head>
  <body ng-controller="AppController">

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


  <!-- My main content will be hidden until all content has been loaded -->
  <div ng-cloak class="ng-cloak">

    <div ng-show="spinner" class="spinner"></div>

    <div ng-show="error" class="error">
      <h3>ERRO</h3>
      <div ng-click="error=null">X</div>
      <span ng-bind="error.error.message"></span>
    </div>

    <div ng-show="message" class="message">
      <h3>...</h3>
      <div ng-click="message=null">X</div>
      <span ng-bind="message"></span>
    </div>

    <span ng-hide="user">
      <img src="pic/default.png">
      Anonimo
      <a href="/login">login</a>.
    </span>
    <span ng-show="user">
      <img ng-src="{{ user | userpicsrc }}">
      {{ user.fullname }}
      <a href="#" ng-click="logout()">logout</a>
    </span>

    <ul class="menu">
      <li><a href="#/">Principal</a></li>
      <li><a href="#/view2">View2</a></li>
    </ul>

    <ul class="channels" ng-show="channels">
      <li ng-repeat="channel in channels">
        <a ng-href="/#/{{ channel.channelslug }}">{{ channel.channelname }}</a>
      </li>
    </ul>


    <div ng-show="user">
      <h3>Adicione um conteudo</h3>
      <form name="createContentForm" ng-submit="createContent()" novalidate>
        <div ng-class="{'has-error': createContentForm.url.$invalid && !createContentForm.url.$pristine }">

          Canal:
          <select name="channelid" ng-model="newcontent.channelid" required>
            <option ng-repeat="channel in channels" value="{{ channel.channelid }}">
              {{ channel.channelname }}
            </option>
          </select >

          URL:
          <input type="text" name="url" ng-model="newcontent.fullurl" ng-minlength="3" ng-maxlength="255" ng-disabled="newcontent.contentid" required/>

          <button ng-disabled="createContentForm.url.$pristine || createContentForm.channelid.$pristine || createContentForm.$invalid">
            Adicionar o conteudo
          </button>

          <input type="reset" ng-if="newcontent.contentid" ng-click="clearNewContent()" value="Adicionar outro">

          <p ng-show="newcontent.channelid == '' && (newcontent.fullurl == 'http://' || createContentForm.url.$error.required)" class="help-block">
            Insira a URL e o Canal do conteudo que deseja nos enviar.
          </p>
          <p ng-show="newcontent.channelid == '' && (newcontent.fullurl != 'http://' && !createContentForm.url.$error.required)" class="help-block">
            Escolha o Canal que deseja que o conteudo apareca.
          </p>
          <p ng-show="newcontent.channelid != '' && (newcontent.fullurl == 'http://' || createContentForm.url.$error.required)" class="help-block">
            Digite a URL do conteudo que deseja enviar.
          </p>
          <p ng-show="newcontent.channelid != '' && (newcontent.fullurl != 'http://' && !createContentForm.url.$error.required)" class="help-block">
            Quando estiver pronto, clique no botao para enviar o conteudo.
          </p>
        </div>
        
      </form>

      <div ng-if="newcontent.contentid">
        <img ng-if="!(newcontent | contenthasimage)" ng-src="{{ 'img/default-small.png' }}"><br>
        <img ng-if="newcontent | contenthasimage:'small'" ng-src="{{ newcontent | contentimagesrc:'small' }}"><br>
        <img ng-if="newcontent | contenthasimage:'medium'" ng-src="{{ newcontent | contentimagesrc:'medium' }}"><br>
        <img ng-if="newcontent | contenthasimage:'large'" ng-src="{{ newcontent | contentimagesrc:'large' }}"><br>
        <h2><a ng-bind="channels[newcontent.contentid].title" ng-href="#/canal/{{ newcontent.slug }}"></a></h3>
        <h3><a ng-bind="newcontent.title" ng-href="#/conteudo/{{ newcontent.slug }}"></a></h3>
        <p ng-bind="newcontent.description"></p>
      </div>

    </div>


    <br/>
    <br/>
    <br/>

    <div >
      NEW CONTENT:"<span ng-bind="newcontent.fullurl"></span>"
    </div>


<br/>



    <div ng-view></div>

    <div>Angular seed app: v<span app-version></span></div>
    


  

  </div> <!-- End of my main content -->
  <script src="js/angular/angular.js"></script>
  <script src="js/angular/angular-route.js"></script>
  <script src="js/angular/angular-cookies.js"></script>
  <script src="js/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  </body>
</html>