@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html {
    font-family: sans-serif;
}

body {
    background: none repeat scroll 0% 0% transparent;
    text-rendering: optimizelegibility;
    /*font: 100%/120% "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 2000px;*/
    padding-top: 50px;
    min-height: 2000px;

}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* Angular ui-bootstrap, to don't use empty href 
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/


[contentEditable] {
    cursor: pointer;
}
[contentEditable]:focus {
    cursor: pointer;
}

.btn {
    cursor: pointer;
}
.btn[disabled] {
    cursor: pointer;
    cursor: not-allowed;
}




.navbar-default {
    background-color: rgba(255, 255, 255, 0.99);
    border-bottom: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    border-bottom-width: 0px;
}

.navbar-header .navbar-brand {
    font-size: 22px;
    letter-spacing: -2px;
    font-weight: bold;
}

.navbar-nav > li > a {
    letter-spacing: 1px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #0093CC;
}


.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar-form {
    margin-left: 0;
    margin-right: 0;
}

.navbar-nav .navbar-btn {
    margin-left: 8px;
    margin-right: 8px;
}








.categories-container {
    background-color: #F2F2F2;
    padding: 17px 0px;
}

ul.categories-list li {
    margin: 4px;
}

ul.categories-list li a {
    font-size: 18px;
    color: #606060;
    background-color: #F2F2F2;
    border-radius: 2px;
    font-size: 1em;
    padding: 2px 4px;
    text-decoration: none;
    list-style: none outside none;
    letter-spacing: 1px;
}

ul.categories-list li a:hover {
    background-color: #E6E6E6;
    color: #0093CC;
    outline: 0px none;
}

ul.categories-list li a:focus {
    outline: thin dotted;
}


.main-container {
    padding: 15px;
}

.modal-container {
    padding: 15px;
}











.top-contents .content-container {
    margin-bottom: 24px;
}


.content-container .content-image {
    position: relative;
}

.content-container .content-image {
    width: 100%;
    margin-bottom: 16px;
}


.content-image .content-link {
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: block;
    text-decoration: none;
    width: 100%;
}

.content-image .content-link img {
    display: block;
    margin: auto;
    border-width: 0px;
}


.content-image .content-link img {
    max-width: 100% !important;
    height: auto !important;
}

.content-container .content-title {
    color: #191919;
    font: 700 1.375em/1.136em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
}

.content-container .content-title {
    color: #191919;
    font: 700 1.375em/1.136em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content-container .content-title .content-link {
    color: #191919;
    text-decoration: none;
    transition: color 0.15s cubic-bezier(0, 0, 0.58, 1) 0s;
    /* BREAKING WORDS TOO LONG */
    word-wrap: break-word;
}

.content-container .content-meta {
    margin-left: -4px;
}

.content-container .content-score {
    margin-right: 0px;
    display: inline-block;
    position: relative;
    color: #606060;
    font-size: 0.75em;
    font-weight: bold;
    padding: 6px 4px;
}
.content-container .content-meta-item {
    color: #606060;
    display: inline-block;
    font-size: 0.75em;
    position: relative;
    padding: 6px 4px;
    white-space: nowrap;
}
.content-container .content-meta-item-link {
    color: #606060;
    display: inline;
    text-decoration: none;
}

.content-container .content-description {
    font-size: 1em;
    line-height: 1.25em;
    color: #444;
    font: 0.875em/1.286em "source-sans-pro","Helvetica Neue",sans-serif;
    margin: 0.25em 0px 0.357em;
    /* BREAKING WORDS TOO LONG */
    word-wrap: break-word;
}


.content-container .content-host {
    color: #606060;
    display: block;
    padding: 0 4px;
    line-height: 2em;
}



.content-container .content-host .content-link {
    color: #606060;
    float: right;
    font-size: 0.75em;
}

.content-container .content-host .content-actions {
    color: #606060;
    float: left;
    font-size: 1.15em;
    word-wrap: break-word;
}

.content-container .content-host .content-actions .btn {
    padding: 4px 6px;
    margin-right: 8px;
    opacity: 0.8;
}


/*


.content-container {
    clear: both;
    display: table;
    line-height: 0;
    position: relative;
}

.content-list .content-container {
    max-width: 774px;
    padding-top: 24px;
    padding-bottom: 19px;
}


.content-container .content-location {
    padding-left: 258px;
    font-size: 0.9em;
    color: #606060;
}

.content-container .content-location .content-location-address {
    color: #606060;
    display: inline-block;
    font-size: 0.9em;
    position: relative;
    padding: 8px 0px;
    white-space: nowrap;
}



*/