<div class="container-fluid ng-cloak modal-container" ng-cloak >
  <!-- User Content -->
  <section class="content-list">
    <header class="object-header">
      <select class="content-header-category" ng-model="content.categoryid">
        <option ng-repeat="category in categories" value="{{ category.categoryid }}"  ng-selected="category.categoryid == content.categoryid">
          {{ category.categoryname }}
        </option>
      </select >
    </header>

    <article class="content-container">

      <div class="content-location">
        <span class="content-location-address" ng-bind="content | get:this:'categoryslug'">
        </span>/<span class="content-location-address" ng-bind="content.slug | strLimit:60"></span>
      </div>


      <div class="content-image content-image-small">
        <a class="content-link" href="#" >
          <img contentimageeditable="true" ng-model="inputelement" ng-src="{{ content | contentimagesrc:'small' }}" />
        </a>
        <input class="invisible" type="file" ng-file-select="onFileSelect($files)" inputfile="true" ng-model="inputelement"/>
      </div>


      <div class="content-content">

        <header class="content-header">
          <h2 class="content-title" itemprop="headline">
            <a class="content-title-link content-link" contenteditable="true" title="true" ng-model="content.title" href="#"></a>
          </h2>
          <div class="content-meta">
            <span class="content-score">10mil gostaram</span>
            <span class="content-meta-item">
              <a class="content-meta-item-link" ng-bind="content.creation | date : timeFormat" href="#">
              </a>
            </span>
          </div>
        </header>
        
        <p class="content-description" contenteditable="true" description="true" ng-model="content.description"></p>

        <div class="content-host">
          <a class="content-host-link" ng-bind="content.host"></a>
        </div>

      </div>

    </article>

  </section>
  <!-- End of User Content -->

  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</div>